
    

{% extends 'Drugs/Base.html'%}
{% block content%}
<div class="d-flex justify-content-center">
<h2>Sanyu Hospital Drugs Directory</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
     <br>
     <br>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table id="myTable">
  <tr class="header">
   
    <th style="width:50%;">Drug Name</th>
    <th style="width:10%;">Quantity</th>
    <th style="width:20%;">Price</th>
    <th style="width:5%;">select</th>
  </tr>
  {% for drug in Drugs%}
  <tr>
   <td value="{{drug.DrugName}}">{{drug.DrugName}}</td>
    <td value="{{drug.DrugName}}">{{drug.Quantity}}</td>
    <td value="{{drug.DrugName}}">{{drug.Cost}}</td> 
    <td class="d-flex justify-content-between" id="Add-item"><a type="button" class="btn btn-success" href="#" title="Add">Add</a></td>
  </tr>

<form method="post" action="submit">
<form>
  {% endfor %}
</table>


    </div>
  </div>
</div>
<div>

</div>
{% endblock %}

<script>
$(document).ready(function ready() {
$('#submit').click(function)

})
</script>