
    

{% extends 'Drugs/Base.html'%}
{% block content%}
<div class="d-flex justify-content-center">
<h2>Sanyu Hospital Drugs Directory</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
     <br>
     <br>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th style="width:60%;">Drug Name</th>
    <th style="width:40%;">Quantity</th>
    <th style="width:40%;">Price</th>
    <th style="width:40%;">Action</th>
  </tr>
  {% for drug in Drugs%}
  <tr>
    <td value="{{drug.DrugName}}">{{drug.DrugName}}</td>
    <td value="{{drug.DrugName}}">{{drug.Quantity}}</td>
    <td value="{{drug.DrugName}}">{{drug.Cost}}</td> 
    <td class="d-flex justify-content-between" id="Add-item"><button type="button" class="btn btn-success" onClick="AddArray({drug})" >Add</button> <button type="button" class="btn btn-danger">Delete</button></td>
  </tr>

<form method="post" action="submit">
<form>


  {% endfor %}
</table>


    </div>
  </div>
</div>
<div>

</div>
{% endblock %}
<script>

// $( "#Add-item" ).click(function() {
//   alert( "Handler for .click() called." );
// });




$('table').DataTable();
// function myFunction() {
//   // Declare variables
//   var input, filter, table, tr, td, i, txtValue;
//   input = document.getElementById("myInput");
//   filter = input.value.toUpperCase();
//   table = document.getElementById("myTable");
//   tr = table.getElementsByTagName("tr");

//   // Loop through all table rows, and hide those who don't match the search query
//   for (i = 0; i < tr.length; i++) {
//     td = tr[i].getElementsByTagName("td")[0];
//     if (td) {
//       txtValue = td.textContent || td.innerText;
//       if (txtValue.toUpperCase().indexOf(filter) > -1) {
//         tr[i].style.display = "";
//       } else {
//         tr[i].style.display = "none";
//       }
//     }
//   }
// }
</script>