{% extends 'Drugs/Base.html'%}
{% load crispy_forms_tags %}
{% block content%}
<div class="container">
  <div class="border">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="d-flex justify-content-around align-items-center">
        <div class="form-group">
          <div>{{form.Reason|as_crispy_field}}</div>
        </div>
      <div>
        <div>{{form.Amount|as_crispy_field}}</div>
      </div>
      
      <button type="submit" class="btn btn-success" value="Submit">submit Expense</button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-xs-8">
     <br>
     
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for expense.." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th style="width:50%;">Reason</th>
    <th style="width:40%;">Date</th>
    <th style="width:40%;">Amount spent</th>
    <th style="width:10%;">Actions</th>
  </tr>
  {% for expense in expenses%}
  <tr>
  
    <td value="{{drug.DrugName}}">{{expense.Reason}}</td>
    <td value="{{drug.DrugName}}">{{expense.Date}}</td>
    <td value="{{drug.DrugName}}">UGX {{expense.Amount}}</td> 
    <td class="d-flex justify-content-between" id="Add-item"><a type="button" class="btn btn-danger" href="/delete_form/{{expense.Reason}}">Delete</a></td>

  </tr>


  {% endfor %}

</table>
<br>
{% if TotalExpenses %}
    <div class="card">
        <div class="card-body">
          <h5>Total Expenses Cost for :UGX {{TotalExpenses}}</h5>
        </div>
      </div>
{% endif %}      
</div>

    </div>
  </div>
</div>
<div>

</div>


{% endblock %}
<script>

// $( "#Add-item" ).click(function() {
//   alert( "Handler for .click() called." );
// });




$('table').DataTable();
// function myFunction() {
//   // Declare variables
//   var input, filter, table, tr, td, i, txtValue;
//   input = document.getElementById("myInput");
//   filter = input.value.toUpperCase();
//   table = document.getElementById("myTable");
//   tr = table.getElementsByTagName("tr");

//   // Loop through all table rows, and hide those who don't match the search query
//   for (i = 0; i < tr.length; i++) {
//     td = tr[i].getElementsByTagName("td")[0];
//     if (td) {
//       txtValue = td.textContent || td.innerText;
//       if (txtValue.toUpperCase().indexOf(filter) > -1) {
//         tr[i].style.display = "";
//       } else {
//         tr[i].style.display = "none";
//       }
//     }
//   }
// }
</script>