
    

{% extends 'Drugs/Base.html'%}
{% block content%}
<div class="d-flex justify-content-around">
<div class="container">
  <div class="row">
    <div class="col-xs-8">
     <br>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th style="width:35%;">Patient Name</th>
    <th style="width:25%;">Residence</th>
    <th style="width:30%;">Phone</th>
    <th style="width:10%;">Actions</th>
  </tr>
  {% for Patient in Patients%}
  <tr>
    <td value="{{drug.DrugName}}">{{Patients.Name}}</td>
    <td value="{{drug.DrugName}}">{{Patients.Residence}}</td>
    <td value="{{drug.DrugName}}">{{Patients.Phone}}</td> 
    <td class="d-flex justify-content-between" id="Add-item"><button type="button" class="btn btn-danger">Delete</button></td>
  </tr>
<form method="post" action="submit">
<form>
{% endfor %}
</table>
<br>
<div>
</div>
    </div>
  </div>
</div>
<div>

</div>
{% endblock %}

